#home {
  position: relative;
}

#home .app__wrapper {
  padding: 0;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.app__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 6rem 2rem 0rem;
}

@media screen and (min-width: 2000px) {
  .app__header {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 1200px) {
  .app__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .app__header {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  -webkit-box-flex: 0.65;
      -ms-flex: 0.65;
          flex: 0.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  margin: 0 2rem;
}

@media screen and (max-width: 1200px) {
  .app__header-info {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__header-badge .badge-cmp span {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.app__header-badge .badge-cmp,
.app__header-badge .tag-cmp {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  color: black;
  border: 0.05rem solid white;
  border-radius: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.app__header-badge .tag-cmp {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.app__header-badge .tag-cmp p {
  width: 100%;
  text-align: right;
  color: black;
  font-size: 14px;
  text-align: center;
}

.app__header-badge .tag-cmp button {
  font-size: 30px;
  font-family: 'Poppins';
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #fc8cd7));
  background: linear-gradient(to bottom, transparent 50%, #fc8cd7 50%);
  border: none;
}

.app__header-badge .tag-cmp button:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #f34881));
  background: linear-gradient(to bottom, transparent 50%, #f34881 50%);
}

.app__header-badge .badge-cmp h1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(50%, #fab027));
  background: linear-gradient(to bottom, transparent 60%, #fab027 50%);
}

.app__header-badge span {
  font-size: 2.5rem;
}

@media screen and (min-width: 2000px) {
  .app__header-badge span {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1200px) {
  .app__header-badge {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.app__header-circles {
  -webkit-box-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  margin-left: 1rem;
}

.app__header-circles div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border: 0.05rem solid white;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.app__header-circles div img {
  width: 50%;
  height: 50%;
}

.app__header-circles div:nth-child(1) {
  width: 100px;
  height: 100px;
}

.app__header-circles div:nth-child(2) {
  margin: 0.5rem;
  margin-left: 3rem;
  width: 150px;
  height: 150px;
}

.app__header-circles div:nth-child(3) {
  margin-left: 4rem;
  width: 120px;
  height: 120px;
}

.app__header-circles div:nth-child(4) {
  margin-left: -3rem;
  margin-top: -4rem;
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 2000px) {
  .app__header-circles div:nth-child(2) {
    width: 400px;
    height: 400px;
  }
  .app__header-circles div:nth-child(3) {
    width: 170px;
    height: 170px;
  }
  .app__header-circles div:nth-child(1) {
    width: 200px;
    height: 200px;
  }
  .app__header-circles div:nth-child(4) {
    margin-left: -3rem;
    margin-top: -2rem;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .app__header-circles {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
  }
  .app__header-circles div {
    margin: 1rem;
  }
}

.app__header-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.app__header-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}

.app__header-img .overlay_circle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .app__header-img {
    margin: 2rem 0;
  }
}

.blog {
  text-decoration: none;
  color: black;
  font-size: 25px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #b3f162));
  background: linear-gradient(to bottom, transparent 50%, #b3f162 50%);
  font-weight: 500;
}
/*# sourceMappingURL=Header.css.map */